body, html {
    margin: 0;
    height: 100vh;
    width: 100vw;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

#wrapper{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    gap: 20px;
    padding: 48px;
    width: 100%;
    height: 100%;
    width:auto;
    box-sizing: border-box;
    z-index: 0;
}

#tela-jogo {
    position: relative;
    grid-column-start: 1;
    grid-column-end: 4;
    width: 100%;
    height: 100%;
    background-color: rgb(223, 223, 223);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#menu {
    grid-column-start: 4;
    grid-column-end: 6;
    width: 100%;
    height: 100%;
    background-color: rgb(223, 223, 223);
    display: flex;
    gap: 30px;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

#logo {
    height: 60%;
    width:100%;
    background-color: rgb(13, 101, 173);
    color: beige;
    font-size: 72px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#botoes {
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
}


#botoes button {
    border-radius: 15px;
    padding: 8px;
    background-color: rgb(127, 197, 255);
    font-size: 32px;
    width: 60%;
    border: none;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}

#botoes button:hover {
    background-color: rgb(13, 101, 173);
    color: beige;
    cursor: pointer;
}

#pop-up-atividade {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0, 0.7);
    z-index: 10;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#atividade {
    position: relative;
    width: 60%;
    height:70%;
    border-radius: 20px;
    background-color: beige;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 48px;
}

#pop-up-instrucoes {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0, 0.7);
    z-index: 10;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#instrucoes {
    position: relative;
    width: 60%;
    height:70%;
    border-radius: 20px;
    background-color: beige;
    padding: 40px;
}

.fecha-popup {
    width: 30px;
    aspect-ratio: 1/1;
    font-size: 20px;
    position: absolute;
    top: -15px;
    right: -15px;
    background-color: rgb(13, 101, 173);
    color: beige;
    border-radius: 40px;
    padding: 6px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.fecha-popup:hover {
    cursor: pointer;
}

#conteiner-atividades {
    height: 60%;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.atividade-n {
    width: 33.3%;
    border-radius: 10px;
}

.atividade-n:hover {
    cursor: pointer;
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.3);
}

.imagem-atividade {
    width: 100%;
    height: auto;
    object-fit: cover;
}

#conversor {
    display: none;
    gap: 30px;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    grid-column-start: 4;
    grid-column-end: 6;
    width: 100%;
    height: 100%;
    background-color: rgb(136, 178, 212);
}

#botoes-conversor {
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
}

#botoes-conversor button {
    border-radius: 15px;
    padding: 8px;
    background-color: rgb(127, 197, 255);
    font-size: 32px;
    width: 60%;
    border: none;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}

#botoes-conversor button:hover {
    background-color: rgb(13, 101, 173);
    color: beige;
    cursor: pointer;
}

#pop-up-instrucoes-no-jogo {
    position: absolute;
    left:0px;
    top:-40px;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

#interrogacao {
    width: 25px;
    height: 25px;
    border-radius: 100px;
    border: 2px solid rgb(13, 101, 173);
    color: rgb(13, 101, 173);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#interrogacao:hover {
    background-color: rgb(13, 101, 173);
    border: 2px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    cursor: pointer;
}

#instrucoes-no-jogo {
    display: none;
    border-radius: 10px;
    background-color: beige;
    padding: 10px;
    font-size: 12px;
    width: 360px;
}

#pop-up-conversora {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0, 0.7);
    z-index: 10;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#conversao-de-energia {
    width: 60%;
    height:70%;
    border-radius: 20px;
    background-color: beige;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 48px;
}

#botoes-conversao-popup {
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
}

#botoes-conversao-popup button {
    border-radius: 15px;
    padding: 8px;
    background-color: rgb(127, 197, 255);
    font-size: 32px;
    width: 60%;
    border: none;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}

#botoes-conversao-popup button:hover {
    background-color: rgb(13, 101, 173);
    color: beige;
    cursor: pointer;
}