
body, html {
    background-color: rgb(13, 101, 173);
    margin: 0;
    height: 100vh;
    width: 100vw;
    font-family: Roboto, sans-serif;
  }

.sour-gummy-title {
    font-family: "Sour Gummy", sans-serif;
    font-optical-sizing: auto;
    font-style: bold;
    font-variation-settings:
      "wdth" 100;
}

#wrapper{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    gap: 16px;
    padding: 48px;
    width: 100%;
    height: 100%;
    width:auto;
    box-sizing: border-box;
    z-index: 0;
    border-radius: 20px;
}
    

#tela-jogo {
    position: relative;
    grid-column-start: 1;
    grid-column-end: 4;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#imagem-animacao {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#menu {
    grid-column-start: 4;
    grid-column-end: 6;
    width: 100%;
    height: 100%;
    display: flex;
    gap: 30px;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

#logo {
    height: 50%;
    width:100%;
    background-color: rgb(13, 101, 173);
    color: beige;
    font-size: 144px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#subtitulo{
    font-size: 18px;
    font-style: normal;
}

#botoes {
    width:100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
}


#botoes button {
    border-radius: 15px;
    padding: 8px;
    background-color: #FF003A;
    font-size: 42px;
    width: 60%;
    height: 40%;
    border: none;
    color: beige;
}

#botoes button:hover {
    background-color: #a70027;
    color: beige;
    cursor: pointer;
}

#botao-jogar  {
    box-shadow: 0px 0px 12px rgb(121, 192, 250);
    animation: boxShadowAnim 2s ease-in-out infinite;
}

#botao-instrucoes {
    box-shadow: 0px 4px 10px rgb(0, 0, 0, 0.3);
}

@keyframes boxShadowAnim {
    0% {
      box-shadow:0px 4px 10px rgba(0, 0, 0, 0.3), 0px 0px 3px rgb(121, 192, 250);
    }
    50% {
      box-shadow:0px 4px 10px rgba(0, 0, 0, 0.3), 0px 0px 20px rgb(121, 192, 250);
    }
    100% {
      box-shadow:0px 4px 10px rgba(0, 0, 0, 0.3),  0px 0px 3px rgb(121, 192, 250);
    }
  }

#pop-up-atividade {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0, 0.7);
    z-index: 10;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#atividade {
    position: relative;
    width: 60%;
    height:60%;
    border-radius: 20px;
    background-color: beige;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 36px;
}

#pop-up-instrucoes {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0, 0.7);
    z-index: 10;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#instrucoes {
    position: relative;
    width: 60%;
    height:70%;
    border-radius: 20px;
    background-color: beige;
    padding: 40px;
}

.fecha-popup {
    width: 30px;
    aspect-ratio: 1/1;
    font-size: 20px;
    position: absolute;
    top: -15px;
    right: -15px;
    background-color: #FF003A;
    color: beige;
    border-radius: 40px;
    padding: 6px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.fecha-popup:hover {
    cursor: pointer;
}

#conteiner-atividades {
    height: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

#pergunta-chave {
    font-size: 24px;
}

.atividade-n {
    width: 33.3%;
    height: 100%;
    border-radius: 10px;
    border: 2px solid rgb(13, 101, 173);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.atividade-n:hover {
    cursor: pointer;
    box-shadow: 4px 6px 10px rgba(0, 0, 0, 0.3);
}

.imagem-atividade {
    width: 100%;
    height: auto;
    object-fit: cover;
}

#conversor {
    display: none;
    gap: 24px;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    grid-column-start: 4;
    grid-column-end: 6;
    width: 100%;
    height: 100%;
}

#legenda-conversor {
    color: beige;
    font-size: 24px;
}

#tela-conversor {
    width: 100%;
    background-color: beige;
    display: flex;
    gap: 16px;
    flex-direction: row;
    justify-content: center;
    align-items: end;
    border-radius: 10px;
    padding: 24px 0px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

#resumo-energia {
    text-align: center;
    align-items: center;
    font-size: 152px;
}

#botoes-conversor {
    width:100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
}

#botoes-conversor button {
    border-radius: 15px;
    padding: 8px;
    background-color: #FF003A;
    color: beige;
    font-size: 42px;
    width: 60%;
    height: 40%;
    border: none;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    animation: boxShadowAnim 2s ease-in-out infinite;
}

#botoes-conversor button:hover {
    background-color: #a70027;
    color: beige;
    cursor: pointer;
}

#pop-up-instrucoes-no-jogo {
    position: absolute;
    left:0px;
    top:-30px;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

#interrogacao {
    width: 25px;
    height: 25px;
    border-radius: 100px;
    border: 2px solid beige;
    color: beige;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#interrogacao:hover {
    background-color: beige;
    border: 2px solid rgb(13, 101, 173);
    color: rgb(13, 101, 173);;
    cursor: pointer;
}

#instrucoes-no-jogo {
    opacity: 0;
    border-radius: 10px;
    background-color: beige;
    padding: 10px;
    font-size: 12px;
    width: 360px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    transition: opacity ease-in-out 300ms;
}

#pop-up-conversora {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0, 0.7);
    z-index: 10;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#conversao-de-energia {
    width: 60%;
    height:70%;
    border-radius: 20px;
    background-color: beige;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 48px;
}

#botoes-conversao-popup {
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
}

#frame {
    height: auto;
    width: 90%;
}

#botoes-conversao-popup button {
    border-radius: 15px;
    padding: 8px;
    background-color: rgb(127, 197, 255);
    font-size: 32px;
    width: 60%;
    border: none;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}

#botoes-conversao-popup button:hover {
    background-color: rgb(13, 101, 173);
    color: beige;
    cursor: pointer;
}